
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-progress-0:before { content: '\e802'; } /* '' */
.icon-progress-1:before { content: '\e803'; } /* '' */
.icon-progress-2:before { content: '\e804'; } /* '' */
.icon-progress-3:before { content: '\e805'; } /* '' */
.icon-skype-outline:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-video-alt:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-heart-empty:before { content: '\e80a'; } /* '' */
.icon-book:before { content: '\e80b'; } /* '' */
.icon-music-1:before { content: '\e80c'; } /* '' */
.icon-code:before { content: '\e80d'; } /* '' */
.icon-chat:before { content: '\e80e'; } /* '' */
.icon-note:before { content: '\e80f'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */