
@font-face {
  font-family: 'JustKellyJustine';
  src: url('JustKellyJustine.eot?#iefix') format('embedded-opentype'),  url('JustKellyJustine.otf')  format('opentype'),
	     url('JustKellyJustine.woff') format('woff'), url('JustKellyJustine.ttf')  format('truetype'), url('JustKellyJustine.svg#JustKellyJustine') format('svg');
  font-weight: normal;
  font-style: normal;
}
